.container {
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  margin-left: 3rem;
  margin-top: 8px;
  margin-bottom: 16px;
  width: fit-content;
}

.container:hover {
  background-color: var(--mantine-color-gray-1);
}

@media (max-width: 768px) {
  .container {
    margin-left: 1rem;
  }
}
